@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
:root {
  --color-primary: #c7365f;
  --color-gradient: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  --color-black-light: #444;
  --color--black-dark: #333;
  --color-white: rgba(255, 255, 255, 0.6);
  --color-white-light: rgba(255, 255, 255, 0.35);
  --shadow-light: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 1rem 3rem rgba(0, 0, 0, 0.15);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Vazirmatn", sans-serif;
  background-image: var(--color-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color--black-dark);
}
header {
  width: 100%;
  position: relative;
  padding: 2rem;
}
.btn {
  font-family: inherit;
  border: none;
  border-radius: 100px;
  padding: 0.7rem 2.5rem;
  font-size: 2rem;
  color: var(--color-black-light);
  background-color: var(--color-white);
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow-light);
  transition: all 0.2s;
  &:active {
    box-shadow: var(--shadow-dark);
    transform: translateY(3px);
  }
  &--guide {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
}

.game {
  margin: 9.6vh auto;
  background-color: var(--color-white-light);
  width: 70%;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //   align-items: center;
  //   justify-items: center;
}

.player {
  padding: 4rem 2rem;
  text-align: center;

  &__name {
    font-size: 6rem;
    font-weight: 400;
  }
  &__score {
    font-size: 6rem;
    font-weight: 300;
    color: var(--color-primary);
  }
  &__current-box {
    background-color: var(--color-primary);
    color: #fff;
    opacity: 0.8;
    width: 65%;
    border-radius: 1rem;
    padding: 2rem 4rem;
    font-size: 2rem;
    margin-top: 20vh;
    .current-label {
      margin-bottom: 4rem;
    }
  }
}
