@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@mixin respond($bp) {
  @if ($bp==desk) {
    @media only screen and (max-width: 81.25em) {
      @content;
    }
  }
  @if ($bp==tab-land) {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if ($bp==tab-port) {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if ($bp==phone) {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
}

:root {
  --color-primary: #c7365f;
  --color-gradient: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  --color-black-light: #444;
  --color--black-dark: #333;
  --color-white: rgba(255, 255, 255, 0.6);
  --color-white-light: rgba(255, 255, 255, 0.35);
  --shadow-light: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  --shadow-dark-2: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem=10px= 10/16
  box-sizing: border-box;
  @include respond(tab-land) {
    font-size: 50%; //1rem=8px=8/16
  }
  @include respond(phone) {
    font-size: 37.5%; //1rem=6px=6/16
  }
}

body {
  font-family: "Vazirmatn", sans-serif;
  background-image: var(--color-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color--black-dark);
  height: 100vh;
  // @include respond(tab-port) {
  //   height: auto;
  // }
  @media only screen and (orientation: landscape) and (max-width: 56.25em) {
    height: auto;
  }
}
header {
  width: 100%;
  position: relative;
  padding: 2rem;

  @media only screen and (orientation: landscape) and (max-width: 56.25em) {
    margin-bottom: 13rem;
  }
  @include respond(tab-port) {
    margin-bottom: 15rem;
  }
}

.btn {
  display: block;
  position: absolute;
  font-family: inherit;
  border: none;
  border-radius: 100px;
  padding: 0.7rem 2.5rem;
  font-size: 2rem;
  color: var(--color-black-light);
  background-color: var(--color-white);
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow-light);
  transition: all 0.2s;
  &:active {
    box-shadow: var(--shadow-dark);
  }
  &--guide {
    top: 2rem;
    left: 2rem;
  }
  &--new {
    top: 2rem;
    left: 20rem;
  }
  &--roll {
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    @include respond(tab-port) {
      top: 32vh;
      left: 5vw;
      transform: translate(0, 50%);
    }
  }
  &--hold {
    top: 77%;
    left: 50%;
    transform: translate(-50%, 0);
    @include respond(tab-port) {
      top: 32vh;
      left: 50vw;
      transform: translate(0, 50%);
    }
  }
}

.game {
  margin: 8rem auto;
  background-color: var(--color-white-light);
  width: 70vw;
  height: 70vh;
  border-radius: 1rem;
  display: flex;
  position: relative;
  @include respond(desk) {
    width: 80%;
  }
  @include respond(tab-port) {
    flex-direction: column;
    // height: 90vh;
  }
  @media only screen and (orientation: landscape) and (max-width: 56.25em) {
    height: auto;
  }
  @media only screen and (orientation: landscape) and (min-width: 56.25em) {
    margin-bottom: 1rem;
  }
}

.player {
  padding: 4rem 2rem;
  text-align: center;
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond(tab-port) {
    // padding-bottom: 10rem;
  }

  &__name {
    font-size: 6rem;
    font-weight: 300;
  }
  &__score {
    font-size: 6rem;
    font-weight: 300;
    color: var(--color-primary);
  }
  &__current-box {
    background-color: var(--color-primary);
    color: #fff;
    opacity: 0.8;
    width: 50%;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 2rem;
    margin-top: auto;
    .current-label {
      margin-bottom: 2rem;
    }
  }
}

.dice {
  position: absolute;
  height: 10rem;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: var(--shadow-dark-2);
  @include respond(tab-port) {
    top: 35vh;
    left: 40vw;
    transform: translate(-50%, -50%);
    height: 5rem;
  }
  @media only screen and (orientation: landscape) {
    height: 6rem;
  }
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--active .player__name {
  font-weight: 400;
}
.player--active .player__score {
  font-weight: 400;
}
.player--active .player__current-box {
  opacity: 1;
}

footer {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}
.hidden {
  display: none;
}
.player--winner {
  background-color: #2f2f2f;
}

.player--winner .player__name {
  font-weight: 700;
  color: #c7365f;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(3px);
}

.modal-window {
  visibility: hidden;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.05);
  @media only screen and (max-height: 25em) {
    //400px
    transform: translate(-50%, 0);
  }
  background-color: #fff;
  z-index: 2;
  font-size: 2rem;
  padding: 4rem 6rem;
  line-height: 2;
  transition: all 0.2s;
  .close {
    position: absolute;
    top: 1rem;
    left: 2rem;
    line-height: 1;
    font-size: 4rem;
    color: var(--color--black-dark);
    cursor: pointer;
    &:hover {
      color: var(--color-primary);
    }
  }
}
